/* FLEXBOX FROGGY

https://flexboxfroggy.com/

Another property you can apply to individual items is align-self. This property accepts the same values as align-items and its value for the specific item.
*/

#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
align-self: flex-end;
}