/* FLEXBOX FROGGY

https://flexboxfroggy.com/

Help this army of frogs form three orderly columns using a combination of flex-direction and flex-wrap.
*/

#pond {
  display: flex;
flex-direction: column;
flex-wrap: wrap;
}