/* FLEXBOX FROGGY

https://flexboxfroggy.com/

The two properties flex-direction and flex-wrap are used so often together that the shorthand property flex-flow was created to combine them. This shorthand property accepts the value of one of the two properties separated by a space.

For example, you can use flex-flow: row wrap to set rows and wrap them.

Try using flex-flow to repeat the previous level.
*/

#pond {
  display: flex;
flex-flow: column wrap;
}