/* FLEXBOX FROGGY

https://flexboxfroggy.com/

Now the current has bunched the lilypads at the bottom. Use align-content to guide the frogs there.
*/

#pond {
  display: flex;
  flex-wrap: wrap;
align-content: flex-end;
}