/* FLEXBOX FROGGY

https://flexboxfroggy.com/

The frogs have had a party, but it is time to go home. Use a combination of flex-direction and align-content to get them to their lilypads.
*/

#pond {
  display: flex;
  flex-wrap: wrap;
flex-direction: column-reverse;
align-content: center;
}