/* FLEXBOX FROGGY

https://flexboxfroggy.com/

Bring the frogs home one last time by using the CSS properties you've learned:

justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content
*/

#pond {
  display: flex;
flex-flow: column-reverse wrap-reverse;
align-content: space-between;
justify-content: center;
}