/* AQUI COMEÇA A PARTE DE CSS */

h1 {
 background-color: white;
 color: green;
 font-family: monospace;
 font-size: 4em;
 
}

h3 {
 color: rgb(130, 252, 119);
}

h4 {
 color: rgb(107, 255, 144);
}

a {
 color: blue;
}

body {
 background-color: black;
 color: white;
 font-family: cursive;
}

.final-site {
 background-color: white;
 color: black;
 font-family: monospace;
 font-size: 18px;
}

.lista {
 color: red;
}
