/* AQUI COMEÇA A PARTE DE CSS */
@import url("https://fonts.google.com/specimen/Open+Sans?query=open+sans");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(215, 255, 182);
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin: 0;
  padding: 10px;
  background-color: #11a36a;
  color: white;
  font-family: monospace;
  font-size: 4em;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 5px;
  background-color: black;
  color: #11a36a;
  text-align: center;
}

#botao1 {
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #11a36a;
  border: 5px dashed white;

  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  left: 10%;
}

.grupo1 {
  background-color: white;
  margin: 0;
  padding: 0 0 20px 0;
}

img {
  /* border-radius: 50%; */
  margin: 20px;
  width: 200px;
  border: 5px ridge #11a36a;
  position: relative;
  left: 60%;
}

#quemsoueu {
  position: absolute;
  top: 150px;
  right: 48%;
}

.hello {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.apresentacao-inicial {
  background-color: #11a36a;
  color: black;
  padding: 3px 10px 3px 10px;
  margin: 20px;
  position: absolute;
  top: 220px;
  right: 40%;
  left: 15%;
  text-align: justify;
  line-height: 20px;
}

.estudante-dev {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.redes {
  background-color: black;
  color: #11a36a;
}

.meus-links-redes {
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #11a36a;
  border: 5px double white;

  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  position: absolute;
  top: 630px;
  left: 33%;
}

.meus-links-redes2 {
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #11a36a;
  border: 5px double white;

  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  position: absolute;
  top: 630px;
  left: 52%;
}

#linksprincipais {
  color: white;
  background-color: black;
}

h2 {
  text-align: center;
  color: #11a36a;
  margin: 0;
  padding: 0;
}
