/* FLEXBOX FROGGY
https://flexboxfroggy.com/

AAgora use align-itemspara ajudar as rãs a chegarem ao fundo do tanque. Esta propriedade CSS alinha os itens verticalmente e aceita os seguintes valores:

    flex-start: Os itens são alinhados ao topo do contêiner.
    flex-end: Os itens são alinhados ao fundo do recipiente.
    center: Os itens são alinhados no centro vertical do contêiner.
    baseline: Os itens são exibidos na linha de base do contêiner.
    stretch: Os itens são esticados para caber no contêiner.
*/

#pond {
  display: flex;
  align-items: flex-end;
}
