/* FLEXBOX FROGGY
https://flexboxfroggy.com/

As rãs precisam ficar na mesma ordem que seus nenúfares usando flex-direction. Esta propriedade CSS define a direção em que os itens são colocados no contêiner e aceita os seguintes valores:

    row: Os itens são colocados da mesma forma que a direção do texto.
    row-reverse: Os itens são posicionados opostos à direção do texto.
    column: Os itens são colocados de cima para baixo.
    column-reverse: Os itens são colocados de baixo para cima.
*/

#pond {
  display: flex;
  flex-flow: row-reverse
}
