/* FLEXBOX FROGGY
https://flexboxfroggy.com/

Ajude as rãs a encontrar seus nenúfares usando flex-directione justify-content.
*/

#pond {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between
}
