/* Flexbox Defense
http://www.flexboxdefense.com/

Use justify-content ▾ and align-items ▾ to move your towers into position.
*/
.tower-group-1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.tower-group-2 {
  display: flex;
  justify-content: center;
}
.tower-group-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
