/* Flexbox Defense
http://www.flexboxdefense.com/

Use justify-content ▾ and align-items ▾ to move your towers into position.
*/
.tower-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
