/* Flexbox Defense
http://www.flexboxdefense.com/

Use flex-direction ▾ and either justify-content ▾ or align-items ▾ to move your towers into position.
*/
.tower-group-1 {
  display: flex;
  flex-direction: column;
}
.tower-group-2 {
  display: flex;
  flex-direction: column;
}
