/* Flexbox Defense
http://www.flexboxdefense.com/ */

/* Move your towers into position by combining the container property justify-content ▾ with the item property order ▾. Remember that all items have a default order of 0. */

.tower-group-1 {
  display: flex;
  justify-content: space-around;
}

.tower-1-2 {
  order: 1;
}

.tower-group-2 {
  display: flex;
  justify-content: space-around;
}

.tower-2-2 {
  order: -1;
}
