/* Flexbox Defense
http://www.flexboxdefense.com/ */

/* Move your towers into position by combining the container property justify-content ▾ with the item property order ▾. Remember that all items have a default order of 0. */
.tower-group-1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.tower-1-1 {
}
.tower-1-2 {
  align-self: flex-start;
}
.tower-1-3 {
}
.tower-1-4 {
  align-self: flex-start;
}
